  body {
    background-color: rgb(38, 121, 134);
    background-size: cover;
  }
  h1 {
    color: rgb(0, 0, 0); 
    font-size:35px; 
    text-align:center;
  }
  h2 {
    color: rgb(0, 0, 0); 
    font-size:30px; 
    text-align:center;
  }
  p {
    color: rgb(0, 0, 0);
    font-size: 28px; 
    text-align: center;
  }
  .div2 {
    border: 3px outset rgb(0, 0, 0);
    padding: 15px;
    margin: 15px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: rgb(25, 108, 106);    
    text-align: center;
  }
  .div3 {
    border: 3px outset rgb(0, 0, 0);
    padding: 15px;
    margin: 15px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: rgb(25, 108, 106);    
    text-align: center;
  }

  /*Grid oppsett*/

  .grid-container {
    display: grid;
    gap: 10px;
    height: 1000px;
    align-content: center;
    grid-template-areas: 
      'header header header header header header' 
      'tekst tekst tekst bilde bilde bilde'
      'left left middle middle right right' 
      'footer footer footer footer footer footer';
    justify-content: center;
  }

  /*Grid deler*/
  
  .header {
    grid-area: header;
    background-color: rgb(25, 108, 106);
    border: 3px outset rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    font-size: 35px;
  }
  .tekst {
    grid-area: tekst;
    background-color: rgb(25, 108, 106);
    border: 3px outset rgb(0, 0, 0);
    padding: 10px;
  }
  .bilde {
    grid-area: bilde;
    background-color: rgb(25, 108, 106);
    background-image: url(./img/IMG-1032.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    border: 3px outset rgb(0, 0, 0);
    height: 300px;
  }
  .left {
    grid-area: left;
  }
  .middle {
    grid-area: middle;
  }
  .right {
    grid-area: right;
  }
  .left,
  .middle,
  .right {
    padding: 10px;
    height: 333px;
    background-color: rgb(25, 108, 106);
    border: 3px outset rgb(0, 0, 0);
  }
  .footer {
    grid-area: footer;
    background-color: #104746;
    border: 3px outset rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
  }

  /*Grid oppsett for andre enheter*/
  @media (max-width: 600px) {
    .grid-container  {
      grid-template-areas:  
        'header header header header header header' 
        'left left left left left left' 
        'middle middle middle middle middle middle'
        'right right right right right right'
        'footer footer footer footer footer footer';
      justify-content: center;
    }
  }

  /*Gammel Meny*/
  .topnav {
    background-color: rgb(25, 108, 106);
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    border: 1px outset rgb(0, 0, 0);
    padding: 15px 15px;
    text-decoration: none;
    font-size: 15px;
  }
  .topnav a:hover {
    background-color: rgb(4, 67, 50);
    color: rgb(255, 255, 255);
  }
  .topnav a.active {
    background-color: #00a96b;
    color: white;
  }

  /*knapper - bl.a. programfag bildelenker*/

  button {
    padding: 10px;
    height: 48px;
    width: 50px;
    cursor: pointer;
    z-index: 1;
    background-color: rgb(25, 108, 106);
    border: 0px outset rgb(0, 0, 0);
  }

  .button1 {
    padding: 10px;
    height: 333px;
    width: 333px;
    cursor: pointer;
    background-color: rgb(25, 108, 106);
    border: 0px outset rgb(0, 0, 0);
  }

  /*Meny*/

    .dropbtn {
      background-color: rgb(25, 108, 106);
      background-image: url(./img/menu.png);
      background-position: center;
      color: white;
      padding: 10px;
      font-size: 16px;
      border: 3px outset rgb(0, 0, 0);
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: rgb(25, 108, 106);
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border: 3px outset rgb(0, 0, 0);
    }
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      border: 1px outset rgb(0, 0, 0);
      display: block;
    }
    .dropdown-content a:hover {background-color: rgb(4, 67, 50);
      color: rgb(255, 255, 255);
    }
    .dropdown:hover .dropdown-content {display: block;
    }
    .dropdown:hover .dropbtn {background-color: rgb(4, 67, 50);
    }